.container {
    display: inline-grid;
    justify-content: center;
    margin-top: 10%;
    margin-left: 6%;
}

h2 {

    margin-left: 25%;
}

span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 50%;
    margin-bottom: 10%;
}